@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
@import url("fonts.css");

/* 스타일 초기화 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* 숨김 콘텐츠 */

legend, .search-form label, .readable-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* 링크 스타일 */

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  color: #f00;
}


/* 반응형 콘텐츠 */

.responsive {
  max-width: 100%;
  height: auto;
}


/* 본문 스타일 */

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  color: #181818;
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
}


/* 메인공통 */

.main-section-heading {
  margin: 2rem 0;
  height: 60px;
  padding-left: 65px;
  font-size: 1.8rem;
  font-weight: 700;
  background-image: url("images/sprite_main.png");
  background-repeat: no-repeat;
}

.main-section-heading span {
  display: block;
}

.recommend-book-heading span {
  color: #abc375;
}

.board-heading span {
  color: #e8ca58;
}

.news-heading span {
  color: #7cb396;
}

.favorite-site-heading span {
  color: #eea60a
}

.twitter-heading span {
  color: #6aa226;
}

.board-heading {
  background-position: 0 -115px;
}

.favorite-site-heading {
  background-position: 0 -345px;
}

.twitter-heading {
  background-position: 0 -460px;
}

.news-heading {
  background-position: 0 -230px;
}


/* 고해상도 디스플레이 */


/* @media screen and (device-aspect-ratio: 16/9) and (min-resolution:192dpi) {
  .main-section-heading {
    background-image: url ("images/sprite_main_x2");
    background-size: 50% 50%;
  }
} */


/* @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
  .main-section-heading {
    background-image: url("images/sprite_main_x2.png");
    background-size: 50% 50%;
  }
} */


/* 추천서적 */

.recommend-book {
  background: yellow;
}

.recommend-book-cover {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.recommend-book-cover em {
  display: block;
}

.recommend-book-detail {
  text-align: center;
  margin: 1.5rem;
}

.recommend-book-author, .recommend-book-author-name {
  display: inline;
}

.recommend-book-grade {
  color: #abc375;
  font-size: 3rem;
}

.recommend-book-summary {
  line-height: 3;
}


/* 새소식 */

.news-media {
  text-align: center;
}

.news-summary {
  line-height: 1.5;
}

.news-date {
  display: block;
  text-align: right;
}


/* 게시판 */

.board {
  position: relative;
}

.board-list {
  background-color: yellow;
  list-style: none;
}

.board-list li {
  margin-bottom: 10px;
}

.board-list a {
  background-color: pink;
  display: inline-block;
  width: calc(100% - 80px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-list time {
  background-color: aqua;
  margin-left: 6px;
}

.board-more {
  position: absolute;
  top: 0.5rem;
  right: 0;
}


/* 트위터 */


/* le */

@media screen and (max-width:999px) {
  .container {}
  .header {
    display: flex;
    flex-direction: column;
    background: #38302e;
  }
  .logo, .member, .search-form {
    padding: 1rem 2rem;
  }
  .logo {
    width: 30%;
  }
  .member {
    background: #988574;
    color: #fff;
    list-style: none;
    order: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .member li {
    margin-left: 1rem;
  }
  .member a {
    padding: 0.5rem 0;
  }
  .search-form {
    padding-top: 0;
  }
  .search, .btn-search {
    vertical-align: middle;
  }
  .search {
    border: 1px solid #aaa;
    padding: 6px 2px 4px 10px;
    border-radius: 5px;
    margin-right: 1rem;
    width: calc(100% - 4.5rem);
  }
  .btn-search {
    position: relative;
    border: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    background: none;
  }
  .btn-search::after {
    content: "";
    background-image: url("images/btn_search.png");
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .menubar-container {
    position: absolute;
    top: 6rem;
    right: 2rem;
    width: 30px;
    height: 30px;
    overflow: hidden;
  }
  .btn-menubar {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border: 0;
    padding: 30px 0 0 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline-offset: -2px;
  }
  .menubar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s;
  }
  .menubar-top {
    top: 0;
  }
  .menubar-act .menubar-top {
    transform: rotate(45deg);
    top: 50%;
    margin: -3px;
  }
  .menubar-middle {
    top: 50%;
    transform: translateY(-50%);
  }
  .menubar-act .menubar-middle {
    transform: translate(-100%, -50%);
  }
  .menubar-bottom {
    bottom: 0;
  }
  .menubar-act .menubar-bottom {
    transform: rotate(-45deg);
    top: 50%;
    margin: -3px;
  }
  .menu-act {
    transform: translateX(0) !important;
  }
  .main-menu {
    transition: all .2s;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    list-style: none;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    color: #fff;
    padding: 2rem 5rem;
    transform: translateX(-100%);
  }
  .main-menu span {
    font-size: 1.8rem;
    margin-top: 2rem;
    display: block;
  }
  .sub-menu li {
    margin: 0.5rem 3rem;
    list-style: none;
  }
  .main {
    padding: 0.2rem;
  }
  .main>section {
    border-bottom: 1px solid #aaa;
    padding-bottom: 2rem;
  }
}


/* Desktop */

@media screen and (min-width:1000px) {
  .header {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 204px 1fr;
    grid-template-rows: 45px 55px;
    grid-template-areas: "logo    member" "logo    search";
  }
  .logo {
    grid-area: logo;
    line-height: 100px;
  }
  .logo a {
    display: block;
  }
  .logo img {
    vertical-align: middle;
  }
  .member, .search-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .member {
    grid-area: member;
    list-style: none;
  }
  .member li {
    margin-left: 1em;
  }
  .search-form {
    grid-area: search;
  }
  .search-wrap {
    padding: 10px 0 0 0;
  }
  .search {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 10px;
    width: 50%;
  }
  .btn-search {
    background: #988574;
    border-radius: 5px;
    border: 0;
    padding: 5px 10px;
    margin-left: 1em;
    color: #fff;
  }
  .navigation {
    background-color: #988574;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 1.5rem 1rem;
  }
  .main-menu {
    width: 80%;
    margin: 0 auto;
    display: grid;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 1.5rem
  }
  .main-menu span {
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
  }
  .sub-menu {
    list-style: none;
    font-size: 1.6rem;
    margin: 1rem;
  }
  .sub-menu a {
    display: block;
    padding: 5px 0;
    margin-top: 5px;
  }
  .menubar-container {
    display: none;
  }
}